.history {
  font-family: "NamsanB";
  -ms-overflow-style: none;
}

.history .wrap {
  justify-content: center;
}

.history .headera {
  margin-right:37%;
  line-height: 1%;
}
.history .headerb {
  margin-right: 48%;
  line-height: 1%;
  text-align: center;
}
 /*위의 부분은 맨위 헤더?에 관한 것*/

 .history .headerleftr {
  line-height: 55px;
  margin-left: 20%;
}

.history .headerlefto {
  line-height: 45px;
  margin-left: 110px;
}

.history .headerleftq {
  line-height: 120px;
  text-align: center;
  margin-left: 15.5vw;
}
/*위의 부분은 초록이와 주황이 도형 관련*/

.history .headerleftl {
  line-height: 60px;
  margin-left: 15%;
}

.history .headerleftu {
  line-height: 120px;
  text-align: center; 
  margin-left: 5.3vw;
}

.history .headerleftj {
  line-height: 45px;
  margin-left: 110px;
}

/*위의 부분은 노랑이와 파랑이 도형 관련*/

.history .headerlelast {
  line-height: 150px;
  text-align: center; 
  margin-left: 14.7vw;
}


.history .headerleftd {
  margin-left: 1%;
  line-height: 60%;
  text-align: left;
  
}



.history .lastsay {
  line-height: 5px;
  text-align: center; 
  margin-right: 80%;
  margin-left: 15px;
}
.history .lastsaya {
  line-height: 110px;
}
.history .headerlef {
  line-height: 80px;
  text-align: center; 
  margin-right: 40px;
}
.history .right {
  margin-left: 10px;
  line-height: 10px;
}


.history .headerlelastf {
  line-height: 100px;
  text-align: center; 
  margin-right: 40px;
}

.history.header {
  height: 50px;
  width: 100%;
  padding: 10px ;
}

.history .pop {
  line-height: 80px;
  text-align: center; 
  margin-left: 100px;
}
.history .popa {
  line-height: 50px;
  text-align: center; 
 
}