.history {
  font-family: "NamsanB";
  -ms-overflow-style: none;
}

.history .wrap {
  justify-content: center;
}



.history .headerlefta {
  margin-right: 600px;
  line-height: 7px;
}
.history .headerleftb {
  margin-right: 750px;
  line-height: 1px;
  text-align: center;
}
.history .headerleftc {
  justify-content: center;
}
.history .headerleftd {
  margin-left: 1px;
  line-height: 60px;
  text-align: left;
}
.history .headerleftl {
  line-height: 60px;
  margin-right: 1020px;
}

.history .headerleftr {
  line-height: 50px;
}

.history .headerlefto {
  line-height: 25px;
}
.history .headerleftj {
  line-height: 20px;
}

.history .headerleftq {
  line-height: 150px;
  text-align: center;
  margin-right: 240px;

}
.history .headerleftu {
  line-height: 150px;
  text-align: center; 
  margin-right: 40px;
}

.history .headerlef {
  line-height: 80px;
  text-align: center; 
  margin-right: 40px;
}
.history .right {
  margin-left: 10px;
  line-height: 10px;
}

