* {
  margin: 0;
  padding: 0;
  border: none;
}

@font-face {
  font-family: "NamsanM";
  src: url("./SeoulNamsanM.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NamsanB";
  src: url("./SeoulNamsanB.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hand1";
  src: url("./NanumDaSiSiJagHae.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NamsanM";
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.Menu:hover {
  /* color: #f3eed9; */
  transform: scale(1.01);
  font-weight: bolder;
}

.Menu img:hover {
  transform: scale(1.01);
}

.wrap {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.Footer {
  text-align: center;
  font-size: 30px;
  margin: 30px;
  line-height: 45px;
}

.FooterM {
  text-align: center;
  font-size: 10px;
  margin: 10px;
  line-height: 15px;
}

/* Gallery.js */ /*------------------------------*/
.gallery_background {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: white;
  padding-left: 3vw;
  padding-right: 3vw;
}

.gallery {
  color: red;
}
/*------------------------------*/ /* Gallery.js */

.wrap1 {
  width: 1600px;
  margin: 0 auto;
}

.ReactGridGallery {
  display: inline-block;
  width: 100%;
}

/* About.js */ /*------------------------------*/
.about_title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  color: black;
}

.about_contents {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.dots {
  height: 10px;
  padding: 10px 0;
  filter: brightness(90%);
}
.headerDotsM {
  height: 20px;
  filter: brightness(90%);
}
/*------------------------------*/ /* About.js */

/* AboutM.js */ /*------------------------------*/
.aboutM_title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15vw;
  color: black;
}
.aboutM_title2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  color: black;
}
.aboutM_contents {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  font-size: 5vw;
  text-align: center;
  color: white;
}

.dotsM {
  height: 7px;
  padding: 7px 0;
  filter: brightness(90%);
}
/*------------------------------*/ /* AboutM.js */

.contents {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.profile_contents {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.gallery_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 1;
  background-color: black;
}

.cJUrrB {
  overflow: hidden;
}

.iOlHZw {
  overflow: hidden;
}

.iOlHZw:hover {
  /* border: 0.15px solid rgb(0, 0, 0, 0); */
}

.cJUrrB:hover {
  filter: brightness(90%);
}

.plus {
  font-size: 30px;
  color: #ef0000;

  position: fixed;
  padding-top: 20px;
  right: 20px;
  z-index: 100;
}

.plus:hover {
  cursor: pointer;
  color: #93656e;
  transition: all 0.1s;
}

.fadein {
  position: relative;
  animation: fadein 0.5s linear;
}

.fadeout {
  position: relative;
  animation: fadeout 0.5s linear;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hidden {
  opacity: 0;
}

.styled_header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(0, 0, 0, 0.2); */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.styled_headerM {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
.menuM {
  position: fixed;
  top: 0;
  padding-top: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  text-align: center;
  font-size: 25px;
  font-family: "NamsanB";
  animation: fadein 0.5s ease-out;
}
/* 
.menuMN:hover {
  color: #ba8900;
} */

.styled_logo {
  width: 20%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
}

.styled_menu {
  width: 60%;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.styled_profile {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70%;
}

:root {
  --fc-small-font-size: 0.85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff;
  --fc-button-bg-color: #2c3e50;
  --fc-button-border-color: #2c3e50;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;

  --fc-event-bg-color: #ef0000;
  --fc-event-border-color: #ef0000;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}

.bt {
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;

  padding: 5px;
  margin-left: 5px;
}

.bt:hover {
  filter: brightness(80%);
}

/* Profile.js */ /*------------------------------*/
.profile {
  padding-top: 10vh;
  width: 40vw;
  height: 50vh;
  background-color: #d8d2c1;
  border-radius: 10px;
  font-family: "NamsanB";
}

.googleLogin {
  margin-top: 15vh;
}

.loginButton {
  font-size: large;
  color: black;
  font-weight: bold;
  background: none;
  padding-left: 1vw;
}

.loginButton:hover {
  color: rgba(1, 1, 1, 0.7);
  cursor: pointer;
}

.signUpButton {
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #faf0e6;
  margin-top: 2vh;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.signUpButton:hover {
  background-color: #d8d2c1;
  cursor: pointer;
}

.signUpDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 12vw;
  height: 5vh;

  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.signUp {
  padding-bottom: 2vh;
  font-size: 20px;
  font-weight: bold;
}

input:focus {
  outline: none;
}

.signUpInput {
  font-size: 20px;
  width: 9vw;
  height: 5vh;
  background-color: #b1b6a0;
}

.eyeSlash {
  color: rgba(0, 0, 0, 0.25);
}

.eyeSlash:hover {
  cursor: pointer;
}

.eye {
  color: #faf0e6;
}

.eye:hover {
  cursor: pointer;
}

.signUpImg {
  margin: 5vh;
  height: 10vh;
}

/*------------------------------*/ /* Profile.js */

/* ProfileM.js */ /*------------------------------*/
.profileM {
  padding-top: 7vh;
  width: 80vw;
  height: 30vh;
  background-color: #d8d2c1;
  border-radius: 10px;
  font-family: "NamsanB";
}

.googleLoginM {
  margin-top: 7vh;
}

.signUpImgM {
  margin: 1.5vh;
  height: 7vh;
}

.signUpDivM {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 25vw;
  height: 3vh;

  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.signUpInputM {
  font-size: 15px;
  width: 15vw;
  height: 3vh;
  background: none;
}
.signUpM {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1vh;
}
.signUpButtonM {
  font-size: 15px;
  font-weight: bold;
  color: black;
  background-color: #faf0e6;
  margin-top: 1vh;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
/*------------------------------*/ /* ProfileM.js */
.container {
  width: 100px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
  perspective: 1000;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  backface-visibility: hidden;
}

.front {
  z-index: 100;
}

.container:hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.container:hover .front {
  z-index: 0;
}

.instruments {
  transform: translateX(50%);
}
.instrumentsM {
  transform: translateX(50%);
  margin-top: 5vh;
}

.inst {
  transform: translateX(-50%);
  display: flex;
  transition: 0.3s;
}
.inst_black {
  transform: translateX(-50%);
  display: flex;
  transition: 0.3s;
  filter: invert(100);
}

.text {
  font-size: 10px;
  opacity: 0;
  transition: 0.3s;
}
.showName:hover .text {
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.mainText {
  font-size: 5px;
  opacity: 0;
  transition: 0.3s;
}
.showName:hover .mainText {
  opacity: 1;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.showName {
  display: block;
}

.showName:hover .inst {
  filter: invert(100%);
  cursor: pointer;
}

.inst:active {
  transform: rotate(0.3turn);
}

.changeColor {
  transform: translateX(-50%);
  display: flex;
  transition: 0.3s;
}

.changeColor:hover {
  filter: invert(100%);
  cursor: pointer;
}

.ril__toolbarItemChild {
  vertical-align: middle;
  color: red;
  font-weight: bold;
}

/* Main.js */ /*------------------------------*/
.section1 {
  font-family: "NamsanB";
  display: flex;
  padding: 10vh 10vw 10vh 10vw;
}

.mainDiv1 {
  font-size: 45px;
  width: 45vw;
  display: grid;
  background-color: #b1b6a0;
  border-radius: 10px 0 0 10px;
}

.mainDiv2 {
  text-align: right;
  padding: 10px;
  color: white;
  border-radius: 0 0 0 10px;
  background-color: #b1b6a0;
}

.mainDiv3 {
  margin-left: 1vw;
  width: 34vw;
  border-radius: 0 10px 10px 0;
  background-color: #d8d2c1;
}

.mainImg {
  width: 45vw;
  border-radius: 10px 0 0 0;
  transition-duration: 0.2s;
  background-color: white;
  padding-bottom: 1vw;
}

.mainImg:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.arrow {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow:hover {
  cursor: pointer;
}
.arrow span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #c4bbb1;
  border-right: 3px solid #c4bbb1;
  border-radius: 20%;
  transform: rotate(45deg);
  margin: -5px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.arrowM {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrowM:hover {
  cursor: pointer;
}
.arrowM span {
  display: block;
  width: 7px;
  height: 7px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 20%;
  transform: rotate(45deg);
  margin: -3.5px;
  animation: animate 2s infinite;
}
.arrowM span:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-5px, -5px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(5px, 5px);
  }
}
/*------------------------------*/ /* Main.js */

.sealDiv {
  background-color: white;

  position: relative;
}

.seal {
  position: absolute;
  right: 10px;
  bottom: 30px;

  width: 25px;
  height: 25px;
}

.seal:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.uploadDiv {
  padding-top: 10vh;
  width: 40vw;
  height: 50vh;
  background-color: white;
  border-radius: 1%;
  font-family: "NamsanB";

  color: black;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.write_title {
  font-family: "NamsanM";
  width: 80%;
  font-size: 20px;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}

.write_content {
  font-family: "NamsanM";
  resize: none;
  width: 80%;
  height: 45%;
  font-size: 20px;
}

textarea:focus {
  outline: none;
}

.leftPungmul {
  margin-left: 10vw;
  width: 10vw;
  height: 80vh;
  border-radius: 10px 0 0 10px;
  background-color: #ba8900;
}

.rightPungmul {
  width: 70vw;
  height: 80vh;
  border-radius: 0 10px 10px 0;
  background-color: white;
}

.instImg {
  width: 24vw;
}

.note {
  padding: 10vh;
  padding-left: 18.56vw;
  display: flex;
}

.noteCell {
  font-size: 20px;
  font-family: "NamsanEB";
  line-height: 2.5vw;
  text-align: center;
  width: 2.5vw;
  height: 2.5vw;
  border: 0.12vw solid black;
}

.pungsa {
  padding-top: 3vh;
  padding-left: 7vw;
  padding-right: 7vw;
  font-family: "Hand1";
  font-size: 30px;
}

.writeButtonDiv {
  text-align: center;
  background: none;

  height: 5vh;
  width: 100vw;
  position: fixed;
  bottom: 0;

  padding-bottom: 2vh;
}

.writeButton {
  color: black;
  background: none;
  height: 5vh;
}

.cancelButton {
  color: black;
  background: none;
  height: 5vh;
  transform: translateX(-40vw) rotate(45deg);
}

.writeDiv {
  text-align: center;

  height: 35vh;
  width: 100vw;
  position: fixed;
  bottom: 2vh;
}

.writeContent {
  background-color: #fff7e7;
  /* box-shadow: 0 0 5px 10px #fff7e7; */
  position: relative;
  top: 5vh;
  width: 80vw;
  height: 25vh;
  border-radius: 20px;
  vertical-align: middle;

  text-align: center;
  font-family: "Hand1";
  font-size: 30px;

  resize: none;
  padding: 20px;
}

.completeButton {
  position: relative;
  bottom: 0;
  height: 5vh;
  border-radius: 10px;
  font-family: "NamsanB";
  font-size: 20px;
}

.buttons {
  background: none;
  position: relative;
  bottom: 0;
  height: 5vh;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.bsPlus {
  background-color: #fff7e7;
  /* box-shadow: 0 0 5px 5px #fff7e7; */
  border-radius: 50%;
}
